<!doctype html>
<html>
  <head>
	<base href="${base}"></base>
	<meta charset="utf-8"/>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="dev/css/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="dev/css/main.css"/>
	<script type="text/javascript" src="dev/js/jquery.min.js"></script>
	<script type="text/javascript" src="dev/js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="dev/js/locale/easyui-lang-zh_CN.js"></script>
  </head>
  <body>
	<div class="easyui-layout" data-options="fit:true" style="">
	  <div data-options="region:'north',border:false" style="height:60px;padding:10px;">
		<h4>没有权限访问！</h4>
	  </div>
	</div>
  </body>
</html>
