<!doctype html>
<html>
  <head>
	<base href="${base}"></base>
	<meta charset="utf-8"/>
	<title>开发工具</title>
	<link rel="stylesheet" type="text/css" href="dev/css/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="dev/css/main.css"/>
	<script type="text/javascript" src="dev/js/jquery.min.js"></script>
	<script type="text/javascript" src="dev/js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="dev/js/locale/easyui-lang-zh_CN.js"></script>
  </head>
  <body>
	<div class="easyui-layout" data-options="fit:true" style="">
	  <div data-options="region:'north',border:false" style="height:50px;padding:10px;">
		欢迎使用开发工具
	  </div>
	  <div data-options="region:'center',border:false" style="padding:10px;">
		当前开发工具集成实体类、操作类生成，菜单管理，数据库管理等功能。
	  </div>
	</div>
  </body>
</html>
